<form class="form-signin" (ngSubmit)="onSubmit()" #form="ngForm">
    <h1 class="h3 mb-3 font-weight-normal">Please create account</h1>

    <label for="email" class="sr-only">Email address</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" [(ngModel)]="login.email" required autofocus>

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="login.password" required>

    <div class="checkbox mb-3">
        <a [routerLink]="['/login']">Back to Login</a>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>

    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</form>